body{
    padding: 0 15vh 0 15vh;
    background-color: #f9f9f9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;
    p{
      margin:0px;
    }
}
headbar{
    h1{
        font-family: 'Courier New', Courier, monospace;
        color: blue;
        text-align: center;
        margin-top: 5vh;
    }
    .button-container{
        text-align: right;
        margin-bottom: 10px;
        margin-bottom: 40px;
    }
}
.container{
  justify-content: center;
  align-items: flex-start;
  display:flex;
  gap:30px;
}
.column{
    display: flex;
    flex-direction: column;
    #profile-pic{
        border-radius: 8px;
        width: 100%;
        transition: opacity 0.5s ease;
    }
    p{
      line-height:1.2;
    }
}

#left{
    flex: 0 0 30%; 
    gap: 20px;
}

.image-overlay-container {
    position: relative; 
    overflow: hidden;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0; 
    transition: opacity 0.5s ease; 
    display: flex;
    justify-content: right;
}
#overlay-text {
    color: white;
    margin-right: 3vh;
    margin-top:3vh;
}

.image-overlay-container:hover .image {
    opacity: 0.8; 
}
.image-overlay-container:hover .overlay {
    opacity: 1; 
}

#contact-info{
  justify-content: center;
  align-items: center;
  margin:0px;
  gap:4vh;
  #icon{
    width: 4vh;
    margin-right: 10px;
  }
}
#right{
    margin-left: 20px;
    flex: 0 0 70%;
    gap:30px;
}

button{
    background-color: rgb(148, 248, 255);
    color: blue;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
}

.dropdown-trigger {
  background-color: rgb(148, 248, 255);
    color: blue;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  padding: 12px;
  z-index: 1;
  border-radius: 4px;
  a{
    text-decoration: none;
    display: block;
    padding: 8px 0;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}