body{
    background-color: #f9f9f9;
    font-family: 'Courier New', Courier, monospace;
}
headbar{
    h1{
        font-family: 'Courier New', Courier, monospace;
        color: blue;
        text-align: center;
        margin-bottom: 5px;
    }
    .button-container{
        text-align: right;
        margin-bottom: 10px;
    }
}    
button{
    background-color: rgb(148, 248, 255);
    color: blue;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px
}
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 15px;
  text-align: left;
}

.dropdown-trigger {
  background-color: rgb(148, 248, 255);
    color: blue;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  padding: 12px;
  z-index: 1;
  border-radius: 4px;
  a{
    text-decoration: none;
    display: block;
    padding: 8px 0;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}